{% include 'common/header.html' %}
{% load static %}
<nav class="navbar navbar-light " style="background-color: #4608f2">
    <span class="navbar-brand mb-0 h1 text-white">Depression Detection </span>
    <ul class="nav nav-pills">
        <li class="nav-item dropdown px-3  ">
            <a class="nav-link text-white btn" href="#">Home</a>
        </li>
        <li class="nav-item dropdown px-1 ">
            <a class="nav-link text-white btn " href="/Depression_Question/">Depression Question</a>
        </li>
        <li class="nav-item dropdown  px-1 ">

            <a class="nav-link text-white btn" href="/progress_question/">Progress Question</a>

        </li>
        <!-- <li class="nav-item dropdown px-2">


                <a class="nav-link text-white btn " id="Attendance" href=""></a>


            </li> -->

        <li class="nav-item dropdown px-3 ">


            <a class="nav-link bg-white" href="/index/">Logout</a>


        </li>
    </ul>
</nav>