{% extends 'admin/adminNavigation.html' %}
{% block content %}
{% load static %}

<div class="">
    <div class="card w-50 my-5 container
bg-light">
        <div class="my-4">
            <h3 class="text-center"><b>Job Requirement</b></h3>
        </div>

        <div class="card-body">
            <form id="formAddCollege" action="/Add_Job_Requirement/" method="post">
                {% csrf_token %}


                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3 ml-4">
                            <label for="exampleInputjobid">
                                <b style="font-family:sans-serif;">Job ID</b> </label>

                        </div>

                        <div class="col-md-8">


                            <!-- <label for="trainnumber"><b>Device Id</b></label> -->
                            <select id="jobid" name="Jobid" class="form-control "
                                onchange="myfunction(this.value)">
                                <option value="">--Select--</option>
                                {% for job in jobdata%}
                                <option value="{{job.id}}">{{job.jobid}}</option>
                                {% endfor %}

                            </select>


                        </div>


                    </div>
                </div>
                <div id="data">
                    <div class="">
                        <div class="row">
                            <div class="col-md-3 ml-4">

                                <label> <b style="font-family:sans-serif;">Designation:</b> </label>


                            </div>
                            <div class="col-md-8 ">
                                <label><b style="font-family:sans-serif;" id="Designation"></b> </label>


                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="col-md-3 ml-4">

                                <label> <b style="font-family:sans-serif;">Salary:</b> </label>

                            </div>
                            <div class="col-md-8">
                                <label><b style="font-family:sans-serif;" id="salary"></b> </label>

                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="col-md-3 ml-4">


                                <label> <b style="font-family:sans-serif;">Place:</b> </label>

                            </div>
                            <div class="col-md-8 ">

                                <label><b style="font-family:sans-serif;" id="place"></b> </label>

                            </div>
                        </div>
                    </div>








                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 ml-4">
                                <label for="exampleInputdesignation"><b
                                        style="font-family:sans-serif;">Experience</b></label>

                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="Experience" name="Experience"
                                    placeholder="Experience">

                            </div>


                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 ml-4">
                                <label for="exampleInputsalary"><b
                                        style="font-family:sans-serif;">Qualifiction</b></label>

                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="Qualifiction" name="Qualifiction"
                                    placeholder="Qualifiction">

                            </div>


                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 ml-4">
                                <label for="exampleInputplace"><b style="font-family:sans-serif;">Key Skills</b></label>

                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="keySkills" name="keySkills"
                                    placeholder="Key Skills">

                            </div>


                        </div>
                    </div>

                    <div class="ml-4 my-3 require">
                        <button class="btn text-white  bg-primary" style=" width: 95%;" type="submit"
                            onclick="return jobrequirement()">Submit</button>
                    </div>
            </form>
        </div>
    </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% load sweetify %}
{% sweetify %}

<script>
    $('#data').hide();   
</script>
<script>
    function myfunction(str) {

        if (str === "") {
            $('#data').hide();
            return;
        } else {

            $.ajax({
                type: "GET",
                url: "/jobdetails/",

                data: { id: str },
                success: function (result) {
                    $("#Designation").text(result[0].designation);
                    $("#salary").text(result[0].salary);
                    $("#place").text(result[0].place);


                    $('#data').show();
                    console.log(result[0]);
                    return;

                }
            });
        }

    }


</script>





<script>
    function jobrequirement() {
        var Experience = document.getElementById('Experience').value;
        var Qualifiction = document.getElementById('Qualifiction').value;
        var Skills = document.getElementById('keySkills').value;

        if (Experience == "") {
            window.alert('Please provide Experience');
            return false;
        }
        else if (Qualifiction == "") {
            window.alert('Please provide Qualification');
            return false;
        } if (Skills == "") {
            window.alert('Please provide Key Skills');
            return false;
        }
        return true;
    }
</script>


{% endblock %}